* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 170px;
  color: white;
  background-color: #998675;
  box-shadow: inset 0 -2px #736357;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 200ms;
}

.button:hover {
  background-color: #c7b299;
}

.section__title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.home {
  color: white;
  background-color: #171a21;
  background-image: url(../images/homeBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.header {
  display: flex;
  align-items: center;
}

.header__icon {
  transition: color 200ms;
  font-size: 22px;
}

.header__icon:hover {
  color: #c7b299;
}

.header__icon + .header__icon {
  margin-left: 25px;
}

.header__menu {
  margin-right: 35px;
}

.header__logo {
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: white;
}

.menu__item {
  margin-right: 24px;
  font-size: 14px;
  transition: color 200ms;
}

.menu__item:hover {
  color: #c7b299;
}

.slider {
  position: relative;
}

.slider__wrapper {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 280px;
  font-family: "Raleway", sans-serif;
}

.slide__subtitle {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.03em;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide__title {
  display: block;
  margin: 15px 0;
  font-size: 52px;
  font-weight: 800;
}

.slide__content {
  max-width: 600px;
  line-height: 24px;
}

.slide__button {
  margin: 50px auto 0;
}

.slider .slider__pagination {
  margin-top: 250px;
  text-align: center;
}

.slider__pagination .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: white;
  margin: 0 2px;
  outline: none;
  border: 1px solid transparent;
}

.slider__pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  border-color: #d3c1ad;
}

.slider__navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin: auto 0;
  z-index: 1;
}

.slider__navigation-prev,
.slider__navigation-next {
  height: 75px;
  width: 40px;
  font-size: 70px;
  color: #998675;
  cursor: pointer;
  transition: color 200ms;
  outline: none;
}

.slider__navigation-prev:hover,
.slider__navigation-next:hover {
  color: #d3c1ad;
}

.slider__navigation-prev {
  transform: scaleX(-1);
}

.service {
  padding: 80px 0;
}

.service__container {
  max-width: 1200px;
  display: flex;
  text-align: center;
}

.service__item {
  width: 25%;
  padding: 0 15px;
  color: #555;
  transition: color 200ms;
}

.service__item::after {
  display: inline-block;
  content: "";
  width: 70px;
  height: 3px;
  margin-top: 25px;
  background-color: #f1eee9;
  transition: background-color 200ms;
}

.service__item:hover {
  color: #c7b299;
}

.service__item:hover::after {
  background-color: #c7b299;
}

.service__icon {
  font-size: 50px;
}

.service__title {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.service__text {
  margin-top: 15px;
  line-height: 24px;
  color: #8c8c8c;
  font-size: 14px;
}

.realization {
  padding: 80px 0 0;
  background-color: #fbfaf8;
  text-align: center;
}

.realization__container {
  max-width: 1230px;
}

.realization__content {
  margin: 15px auto 0;
  line-height: 28px;
  max-width: 770px;
}

.realization__images {
  margin-top: 35px;
  position: relative;
  line-height: 0;
}

.realization__image-center {
  position: relative;
  z-index: 3;
}

.realization__image-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.realization__image-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.promo {
  padding: 45px 0 50px;
  background: linear-gradient(to right, #211b19, #4e3427);
}

.promo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__title {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  color: #f1f0f0;
  letter-spacing: 0.01em;
}

.promo__name-project {
  color: #c7b299;
}

.promo__text {
  font-size: 18px;
  color: #615855;
  margin-top: 10px;
}

.promo__button {
  flex-shrink: 0;
  margin-left: 40px;
}

.portfolio {
  padding: 75px 0 80px;
  text-align: center;
}

.portfolio__container {
  max-width: 1200px;
}

.portfolio__subscription {
  max-width: 790px;
  margin: 20px auto 0;
  line-height: 28px;
  letter-spacing: 0.05em;
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__button {
  margin: 40px auto 0;
}

.portfolio__filter {
  margin: 35px 0 10px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter__category {
  min-width: 70px;
  color: #8c8c8c;
  padding: 7px 14px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.filter__category + .filter__category {
  margin-left: 9px;
}

.filter__category--active {
  background-color: #998675;
  border-color: #998675;
  color: white;
}

.project {
  width: 33.33%;
  margin-top: 30px;
  padding: 0 15px;
}

.project__image {
  position: relative;
  display: block;
  width: 100%;
  height: 237px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
}

.project__description {
  text-align: left;
  background-color: #fbfaf8;
  padding: 25px 30px;
  transition: background-color 300ms;
}

.project__title {
  color: #c7b299;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  transition: color 300ms;
}

.project__subtitle {
  color: #d1d1d1;
  font-size: 14px;
  line-height: 20px;
  margin-top: 7px;
  transition: color 300ms;
}

.project__links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 25px;
  transition: opacity 300ms;
}

.project__links__item + .project__links__item {
  margin-left: 25px;
}

.project__links__item:hover {
  color: #c7b299;
}

.project:hover .project__links {
  opacity: 1;
}

.project:hover .project__description {
  background-color: #362f2d;
}

.project:hover .project__title {
  color: white;
}

.project:hover .project__subtitle {
  color: #c7b299;
}

.presentation {
  background-image: url(../images/backgroundVideo.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 210px 0 205px;
}

.presentation__play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 67px;
  margin: 0 auto;
  cursor: pointer;
}

.presentation__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 570px;
  margin: 0 auto;
}

.presentation__title {
  margin-top: 43px;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}

.presentation__description {
  margin-top: 15px;
  text-align: center;
  line-height: 28px;
}

.presentation__time {
  margin-top: 30px;
  color: #c7b299;
}

.adaptive {
  padding: 80px 0 0;
  background-color: #fbfaf8;
}

.adaptive__container {
  display: flex;
}

.adaptive__image {
  max-width: 423px;
  max-height: 616px;
  padding-left: 40px;
}

.adaptive__title {
  margin-bottom: 25px;
}

.adaptive__text {
  display: flex;
  flex-direction: column;
  padding-top: 115px;
  margin-left: 70px;
}

.adaptive__description {
  line-height: 28px;
  margin-bottom: 30px;
}

.adaptive__list {
  margin-left: 50px;
  list-style: none;
  line-height: 29px;
}

.adaptive__list li::before {
  font-family: 'icomoon' !important;
  content: "\e901";
  display: inline-block;
  height: 21px;
  width: 21px;
  color: #c7b299;
  font-size: 20px;
  margin-right: 30px;
}

.counters {
  padding: 60px 0;
  background: linear-gradient(to right, #211b19, #4e3427);
}

.counters__container {
  display: flex;
  justify-content: center;
  max-width: 970px;
}

.counters__item {
  text-align: center;
  width: 20%;
}

.counters__item::after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 30px;
  height: 2px;
  background-color: white;
}

.counters__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #c7b299;
  font-size: 40px;
  margin-bottom: 20px;
}

.counters__number {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: white;
  margin-bottom: 15px;
}

.counters__title {
  color: #c7b299;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.posts {
  padding: 80px 0 75px;
  text-align: center;
}

.posts__container {
  display: flex;
}

.posts__description {
  line-height: 28px;
  max-width: 800px;
  margin: 15px auto 35px;
}

.posts__image {
  position: relative;
  width: 370px;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.posts__text {
  max-width: 370px;
  text-align: left;
  border: 1px solid #f8f8f8;
  border-top: none;
  background-color: transparent;
  padding: 30px;
  transition:
    background-color 500ms,
    border-color 500ms;
}

.posts__title {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #555555;
  margin-bottom: 12px;
  transition: color 500ms;
}

.posts__text-content {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
  transition: color 500ms;
}

.posts__link {
  text-decoration: none;
  color: #c7b299;
  font-size: 14px;
  line-height: 22px;
}

.posts__link__icon {
  margin-left: 5px;
  font-size: 8px;
}

.posts__date {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
}

.posts__dark-theme {
  position: absolute;
  width: 370px;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 500ms;
}

.posts__item:hover .posts__text {
  background-color: #362f2d;
}

.posts__item:hover .posts__dark-theme {
  opacity: 1;
}

.posts__item:hover .date__day {
  background-color: #c7b299;
}

.posts__item:hover .date__monts {
  background-color: #a48d72;
}

.posts__item:hover .posts__title {
  color: #c7b299;
}

.posts__item:hover .posts__text-content {
  color:white;
}

.posts__item:hover .posts__text {
  border-color: #362f2d;
}

.posts__navigation {
  font-size: 20px;
  text-align: center;
  color: #d4d4d4;
  margin-top: 40px;
}

.posts__navigation-next {
  margin-left: 8px;
  outline: none;
  transition: color 500ms;
  cursor: pointer;
}

.posts__navigation-prev {
  display: inline-block;
  transform: scaleX(-1);
  outline: none;
  transition: color 500ms;
  cursor: pointer;
}

.posts__navigation-next:hover, .posts__navigation-prev:hover {
  color: #c7b299;
}

.date {
  color: white;
  text-align: center;
}

.date__day {
  border-radius: 3px 3px 0 0;
  background-color: #363636;
  padding: 5px 11px;
  font-size: 24px;
  transition: background-color 300ms;
}

.date__monts {
  border-radius: 0 0 3px 3px;
  background-color: #252525;
  padding: 7px 10px;
  font-size: 12px;
  transition: background-color 300ms;
}

.partners {
  background: url(../images/backgroundPartners.jpg) no-repeat center center;
  background-size: cover;
  padding: 140px 0;
}

.partners__container {
  display: flex;
}

.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  max-height: 210px;
}

.contact {
  background-color: #191919;
  color: #555555;
  font-size: 14px;
  line-height: 20px;
  padding: 80px 0;
}

.contact__container {
  display: flex;
}

.contact__column {
  width: 25%;
  padding-right: 30px;
}

.contact__about-description {
  font-size: 14px;
  line-height: 24px;
  margin: 20px 0 25px;
}

.contact__about-link {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.contact__about-link:hover {
  color: #c7b299;
}

.contact__title {
  margin: 25px 0 10px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.contact__post {
  padding: 20px 0 20px;
  cursor: pointer;
}

.contact__post + .contact__post {
  border-top: 1px solid #252525;
}

.contact__post-date {
  font-size: 12px;
  color: #363636;
  transition: color 300ms;
}

.contact__post-text {
  transition: color 300ms;
}

.contact__post:hover .contact__post-date {
  color: white;
}

.contact__post:hover .contact__post-text {
  color: #c7b299;
}

.contact__twit {
  padding: 20px 0;
  cursor: pointer;
  transition: color 300ms;
}

.contact__twit + .contact__twit {
  border-top: 1px solid #252525;
}

.contact__twitter-link {
  color: #00bff3;
}

.contact__twit-time {
  font-size: 12px;
  color: #363636;
  transition: color 300ms;
}

.contact__twit-text {
  transition: color 300ms;
}

.contact__twit:hover .contact__twit-time {
  color: white;
}

.contact__twit:hover .contact__twit-text {
  color: #c7b299;
}

.contact__dribble {
  padding: 0;
}

.dribble__link {
  width: 50%;
  padding: 5px;
}

.dribble__container {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 35px 0 40px;
  background-color: #111111;
  color: #555555;
  font-size: 13px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
}

.footer__link {
  padding: 0 10px;
  color: #555555;
  transition: color 300ms;
}

.footer__link:first-child {
  padding: 0 10px 0 0;
}

.footer__link:hover {
  color: #b6a38c;
}

.footer__link + .footer__link {
  border-left: 2px solid #1b1b1b;
}

.footer__autor {
  display: flex;
}

.company-name {
  color: white;
  transition: color 300ms;
}

.author-name {
  transition: color 300ms;
}

.author-name:hover {
  color: #b6a38c;
}

.company-name:hover {
  color: #b6a38c;
}
